<footer>
    <div>
        <h1>{{ .Site.Title }}</h1><br>
        <a href="https://register-of-charities.charitycommission.gov.uk/charity-search/-/charity-details/5087129" aria-label="find information held by the Charity Commission on rswp" target="_blank" rel="noopener noreferrer"><p>registered charity</a> in England and Wales number 1170858<br>
        <a href="mailto:hello@rswp.org">hello@rswp.org</a></p>
    </div>
    <div>
        <ul>
            <li class="icon">
                <a href="https://www.linkedin.com/company/rural-schools-water-project" aria-label="connect with rswp on LinkedIn" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-linkedin"></i>
                </a>
            </li>
            <li class="icon">
                <a href="https://github.com/rswp-org" aria-label="collaborate with rswp on GitHub" target="_blank" rel="noopener noreferrer">
                    <i class="bi bi-github"></i>
                </a>
            </li>
        </ul>
    </div>
</footer>