<header>
    <div class="banner">
        <!-- {{ $icon := resources.Get "images/RSWP_Logo_Vertical_FullColour.png" }}
        {{ with $icon }}
        <img class="logo" src="{{ $icon.RelPermalink }}">
        {{ end }} -->
        <h1 class="center-text">{{ .Site.Home.Description }}</h1>
    </div>
    <div class="button">
        <a href="https://donate.stripe.com/8wM7tQ2oR2SI1So9AE" aria-label="donate to rswp" target="_blank" rel="noopener noreferrer">
        <button>
                <h2>donate</h2>
                <div class="img">
                    <i class="bi bi-arrow-right-short" style="color:white"></i>
                </div>
        </button>
        </a>
        <a href="/donate"><p>more donation options</p></a>
    </div>
</header>
