<header>
    <div class="banner">
        <!-- {{ $icon := resources.Get "images/RSWP_Logo_Vertical_FullColour.png" }}
        {{ with $icon }}
        <img class="logo" src="{{ $icon.RelPermalink }}">
        {{ end }} -->
        <h1 class="center-text">{{ .Site.Home.Description }}</h1>
    </div>
    
    <div style="margin-top: 50px;">
        <h2>Join our mailing list!</h2>
            <div align="center">
                <iframe src="https://embeds.beehiiv.com/c613290e-b178-4159-a94b-037745d9ab4b?slim=true" data-test-id="beehiiv-embed" height="52" frameborder="0" scrolling="no" style="margin: 0; border-radius: 0px !important; background-color: transparent;"></iframe>
            </div>
            <!--<div class="button">
                <a href="https://donate.stripe.com/8wM7tQ2oR2SI1So9AE" aria-label="donate to rswp" target="_blank" rel="noopener noreferrer">
                <button>
                        <h2>donate</h2>
                        <div class="img">
                            <i class="bi bi-arrow-right-short" style="color:white"></i>
                        </div>
                </button>
                </a>
                <a href="/donate"><p>more donation options</p></a>
            -->
        </div>
    </div>
</header>
