<nav>
    <a href="{{ .Site.Home.Permalink }}">
        {{ $image := resources.Get "images/RSWP_Logo_Horizontal_FullColour.png" }}
        {{ with $image }}
        <img class="logo" src="{{ $image.RelPermalink }}" alt="rswp logo">
        {{ end }}
    </a>
    <div class="img">
    <input id="menu-input" type="checkbox">
    <label class="bi bi-filter-right" style="color:#00aeef" id="kebab-menu" for="menu-input">
        <div id="sidebar-menu">
            <ul>
                {{ range .Site.Sections.ByWeight }}
                <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </div>
    </label>
    </div>
</nav>
