{{ define "leader" }}
<div class="leader">
    {{- partial "header.html" . -}}
</div>
{{ end }}
{{ define "main" }}
<div class="container">
    <h2 class="center-text">how we work</h2>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h1 style="font-weight: bold;">🤝 local organisations</h1>
                </div>
                <div class="card-body">
                    <p>Our partnerships are the heart of who we are and how we work. We don’t believe in helicoptering in to provide “aid” – we think that local organisations understand best what their communities need. So we work with them and help with funding, operational support, and long term learning.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h1 style="font-weight: bold;">🔁 sustainable services</h1>
                </div>
                <div class="card-body">
                    <p>Sustainability is obviously a bit of a buzzword at the moment, but for water services it’s vital! For us, sustainability means water services need to be three key things – reliable, affordable, and well-managed – as well as environmentally efficient.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header">
                    <h1 style="font-weight: bold;">📈 data and evidence</h1>
                </div>
                <div class="card-body">
                    <p>Data is how we keep ourselves accountable – whether that’s to our donors, our partners, or the schools we serve. We use it to understand what’s needed, be clear on our impact, and learn how we can do better next time.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{{ .Content }} 
{{ end }}