@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

/* 1. Base */
html {
  background-color: #FCFDFA;
  color: #959798;
  font-family: Seravek, sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* 2. Header */
header {
  height: 4rem;
  position: fixed;
  width: 100%;
}
a {
  color: currentColor; 
  cursor: pointer; 
  text-decoration: none;
  font-weight: bold;
}
.nav {
  align-items: center;
  background-color: #4472C3;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  padding: 1.375rem 5vw;
}
#main-menu {
  display: none;
}
#hamburger-input{
  display: none;
}
#hamburger-menu {
  align-items: center;
  display: flex;
  font-size: 24px;
  position: fixed;
  right: 2vw;
}
/* 2a. Mobile sidebar */
#hamburger-menu #sidebar-menu {
  box-sizing: border-box;
  background-color: #FCFDFA;
  color: #4472C3;
  height: 100%;
  left: -100vw;
  opacity: 0.85;
  padding: 8rem 4rem 10rem 4rem;
  position: fixed;
  top: 0;
  transition: 0.3s;
  visibility: hidden;
  width: 100%;
}
#sideabar-menu ul {
  padding-top: 4rem;
}
#sidebar-menu li {
  text-align: center;
  padding: 2rem;
}
.overlay{
  background-color: #FCFDFA;
  left: 0;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  transition: opacity .35s, visibility .35s, height .35s;
  visibility: hidden;
  width: 100%;
  z-index: -1;
}
#hamburger-input:checked + #hamburger-menu #sidebar-menu {
  visibility: visible;
  left: 0;
}
#hamburger-input:checked ~ .overlay{
 visibility: visible;
}
/* 2b. Desktop  */
@media screen and (min-width: 800px) {
  #hamburger-menu {
    display: none;
  }
  #main-menu{
    display: flex;
  }
  #main-menu li {
    padding-left: 2rem;
  }
  #main-menu ul {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  #mobile-menu {
    display: none;
  }
  a:hover {
    text-decoration: underline;
  }
}

/* 3. Footer */
.footer {
  background-color: #4472C3;
  color: #FFFFFF;
  bottom: 0px;
  display: flex;
  font-size: 14px;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  position: absolute;
  width: 100%;
}
.social {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.social li {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  height: 2rem;
  margin-right: 0.5rem;
  width: 2rem;
}
/* 3b. Desktop footer */
@media screen and (min-width: 800px) {
  .social {
    display: flex;
    flex-wrap: nowrap;
  }
  .social li {
    font-size: large;
  }
  .footer {
    padding: 2rem 8rem;
  }
}