<footer>
    <div class="footer">
      <div>
        <p>registered charity in England and Wales number 1170858</p>
        <p>rswp</p>
      </div>
      <div class="social">
        <ul class="social">
          <li>
            <a href="https://github.com/"> <i class="bi bi-github"></i> </a>
          </li>
          <li>
            <a> <i class="bi bi-twitter"></i> </a>
          </li>
          <li>
            <a> <i class="bi bi-linkedin"></i> </a>
          </li>
        </ul>
      </div>
    </div>
  </footer>