<header>
    <nav>
        <div id="main-menu" class="nav">
            <a href="{{ .Site.BaseURL }}">
                {{ .Site.Title}}
            </a>
            <ul>
                {{ range .Site.Menus.main }}
                <li>
                    <a href="{{ .URL }}">
                        {{ $text := print .Name | safeHTML }}
                        {{ $text }}
                    </a>
                </li>
                {{ end }}
            </ul>
        </div>
    </nav>
    <div id="mobile-menu" class="nav">
        <a href="{{ .Site.BaseURL }}">
            {{ .Site.Title}}
        </a>
        <input type="checkbox" id="hamburger-input"/>
        <label id="hamburger-menu" for="hamburger-input" class="bi bi-three-dots-vertical">
            <div id="sidebar-menu">
                <nav>
                    <ul>
                        {{ range .Site.Menus.main }}
                        <li>
                            <a href="{{ .URL }}">
                                {{ $text := print .Name | safeHTML }}
                                {{ $text }}
                            </a>
                        </li>
                        {{ end }}
                    </ul>
                </nav>
            </div>
        </label>
    </div>
    <div class="overlay"></div>
</header>